body {
    font-family: Georgia, serif;/*font of the webpage*/
    background-color: #000; /*background color */
    color: #fff; /*text color*/            
    margin: 0;
    padding: 20px;
  }

  .container {
    background-color: #1a1a1a; 
    max-width: 900px;
    margin: auto;
    padding: 30px;
    border-radius: 8px;
  }

  h1 {
    text-align: center;/*alignment of the title*/
    color: #ffcc99; /*lighter color for the*/
    font-size: 32px;
    margin-bottom: 20px;
  }

  .description {
    margin-bottom: 25px;
    font-size: 16px;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .text-section {
    flex: 2;
    min-width: 300px;
  }

  .text-section h2 {
    color: #ffcc99; /* Light heading color */
    font-size: 22px;
    margin-bottom: 10px;
  }

  ul, ol {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 8px;
    line-height: 1.5;
  }

  .image-section {
    flex: 1;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .image-section img {
    width: 100%;
    max-width: 250px;
    border: 4px solid #ffcc99;
    border-radius: 8px;
  }